{% extends "base.html" %}
{% block head %}
  <title>Home</title>
{% endblock %}
{% block body %}
  <p>Welcome to Lakeside's PGA's lending library!</p>
  <p>You can look through the PGA’s book list and request any that interest you.</p>
  <p>To pick up your book, head to the PGA office at the Lakeside Upper School campus. You can also see what is available there.</p>
  <p>If your book isn’t available, we will send you an email when it is checked back in.</p>
  <p>To return a book, drop it off at the PGA office in the return bin.</p>
  <a href="https://www.lakesideschool.org/upper-school-campus" target="_blank" rel="noreferrer noopener">
    <img src="https://resources.finalsite.net/images/f_auto,q_auto,t_image_size_4/v1600782992/lakeside/any6qoc4gmoio9qdd9id/USmap_base_image.jpg" alt="Lakeside Upper School Campus" />
  </a>
{% endblock %}
